<div class="row">
		<div class="col-md-2">
			<div class="user profile">
				<%= render'newses/list', user: current_user%>
			</div>
		</div>
		<div class="genre-news col-md-8">
			<div class="row">
			<% @top_headlines.each do |top_headline| %>
					<div class="well col-md-6">
						<div class="img-box">
						  <img src= <%= top_headline.urlToImage %>>
						</div>
						<h3><%= top_headline.title %></h3>
						<%= link_to top_headline.url %>
				    </div>
			<% end %>
		    </div>
		</div>
		<div class="col-md-2">aaaa</div>
</div>
