		<%= link_to users_path do %>
			<%= attachment_image_tag user, :image, fallback: "desert.jpg", size: "100x100", class: "" %>
		<% end %>
		<% if user.present? %>
		  <%= user.name_first %><%= user.name_last %>
		<% else %>
		<h4>guest</h4>
		<% end %>

