<div class="container">
	<div class="row user">
		<div class="col-md-2">

			<div class="user profile">
				<%= render'newses/list', user: current_user%>
			</div>
		</div>
		<div class="col-md-3">
			<div id="container">
				<div id="slide">
					<div class="mstile1"></div>
					<div class="mstile2"></div>
					<div class="mstile3"></div>
					<div class="mstile4"></div>
				</div>
			</div>
		</div>
		<button id="btn">
			<p class="news"></p>
			<script src="jquery-3.4.1.min.js"></script>
	        <script src="application.js"></script>
        </button>
	</div>
</div>