// Place all the styles related to the newses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mstile1 {
	background-image: url(boardwalk.jpg);
}
.mstile2 {
	background-image: url(desert.jpg);
}
.mstile3 {
	background-image: url(fb-screenshot.png);
}
.mstile4 {
	background-image: url(it_394_main.jpg);
}
#container {
	height: 400px;
	width: 800px;
}
